<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Created</th>
      <th>Source</th>
      <th>Submissions</th>
    </tr>
  </thead>
  <tbody id="members">
    <% members.each do |member| %>
      <tr class="member">
        <td><%= member.uuid %></td>
        <td><%= member.created_at %></td>
        <td><%= member.source %></td>
        <td class="submissions <%=member.status%>"><%= link_to member.submissions.count, admin_member_path(member) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
