<%= form_for @form, as: :submission, url: submission_this_that_path(@submission), method: :put do |f| %>
  <%= render 'shared/errors', object: @form, message: 'Please select an answer for each choice' %>

  <% @questions.each do |question| %>
    <fieldset class="polar-choice">
      <p>I want to...</p>
      <div class="choice">
        <div id="this">
          <%= radio_button_tag :pairing, "this" %>
          <%= label_tag :pairing_this do %>
          <% end %>
        </div>
        <div id="that">
          <%= radio_button_tag "pairing", "that" %>
          <%= label_tag :pairing_that do %>
          <% end %>
        </div>
      </div>
      <p>with people in my neighbourhood</p>
    </fieldset>
  <% end %>

<% end %>
