<h1>
  Meet the team
</h1>

<section class="cta">
  <img src="<%= image_path 'bunting.svg' %>" alt="Bunting">
  <form id="join-form-1" action="https://docs.google.com/forms/d/e/1FAIpQLSf9_COdZQmL8v5JuhkBOhk7dSRENeMNF-CMTv073OE69FXiaw/formResponse" method="post">
    <div class="team-avatars">
      <img src="<%= image_path 'sophy.png' %>" class="assistant-avatar" alt="">
      <img src="<%= image_path 'gavin.png' %>" class="assistant-avatar" alt="">
      <img src="<%= image_path 'james-r.png' %>" class="assistant-avatar" alt="">
      <img src="<%= image_path 'ian.png' %>" class="assistant-avatar" alt="">
      <img src="<%= image_path 'helen.png' %>" class="assistant-avatar" alt="">
      <img src="<%= image_path 'james-a.png' %>" class="assistant-avatar" alt="">
    </div>

    <h2>
      Co-op Team
    </h2>
    <p>
      So you want to get more involved with your neighbournood? We’ll start finding ways for you to:
    </p>

    <ul>
      <%@submission.interests.thumbs_up.each do | interest | %>
      <li>
        <%=interest.activity.name%>
      </li>
      <%end%>
    </ul>

    <p>
      Leave your contact details with one of us and we’ll be in touch very shortly.
    </p>

    <label for="name">Your name</label>
    <input id="name" type="text" name="entry.2140969632" value="" required><br />

    <label for="email">Your email address</label>
    <input id="email" type="email" name="entry.1642471887" value="" required><br />

    <input id="postcode" type="hidden" name="entry.1335307826" value="<%=@submission.member.postcode %>" required><br />
    <input id="postcode" type="hidden" name="entry.752726998" value="<%=@submission.member.uuid %>" required>

    <button class="btn btn-primary" type="submit">Finish</button>
  </form>
</section>
