<section id="activities-intro">
  <h1>Practical things you could start in [your neighbourhood]</h1>
  <p>
    We're going to show you some ideas of practical, everyday things you could start with other people in [your neighbourhood]. We'll use this information you to connect people who care about the same things as you.
  </p>

  <p>
    If you pick something that's happening already, we'll help you get involved. If it's not happening, we'll help you get something started.
  </p>
  <button class='btn btn-primary'>Next</button>
</section>

<section id="activities-actions">
  <%= form_for @submission, url: submission_activities_path(@submission), method: :put do |f| %>
    <h1>Come together with people in your area and &hellip;</h1>
    <%= f.fields_for :interests, @interests do |interest_fields| %>
      <fieldset class="thumbs-up-down">
        <%= interest_fields.hidden_field :position %>
        <%= interest_fields.hidden_field :activity_id %>
        <div class="statement statement-color-<%= rand(1..8) %>">
          <p>
            <%= interest_fields.object.activity.name %>
          </p>
        </div>
        <div class="thumbs-up-down-choice">
          <%= interest_fields.label :response_yes, 'ðŸ‘' %>
          <%= interest_fields.radio_button :response, 'yes' %>
          <%= interest_fields.label :response_no, 'ðŸ‘Ž' %>
          <%= interest_fields.radio_button :response, 'no' %>
          <%= interest_fields.radio_button :response, 'unseen' %>
        </div>
      </fieldset>
    <% end %>
  <% end %>
</section>
