<h1>
  Your contact details
</h1>

<p>
  Tell us your first name and email address and we'll be in touch very shortly.
</p>

<%= form_for @details_form, as: :submission, url: submission_details_path(@submission), method: :put do |f| %>
  <%= f.label :name, 'Your name' %>
  <%= f.text_field :name, required: true%>

  <%= f.label :email, 'Your email address' %>
  <%= f.email_field :email, required: true%>

  <%= f.submit 'Finish', class: 'btn btn-primary' %>
<% end %>
