<header id="proposition-head">
  <h1>Make something good happen in&nbsp;your neighbourhood</h1>
  <h2>
    Find like-minded people in your&nbsp;area and start something new
  </h2>
</header>
<section id="proposition-intro">
  <p>
    Tell us what you want to start in your neighbourhood in Leeds, and we’ll find other people nearby who share your vision.
    <p>
    <p>
      We'll help you to come together to do everyday things that make everyone's lives better. And we'll support you with practical support: recruiting, promoting your idea and putting you in touch with people who can help.
    </p>
</section>

<section id="how-it-works">
  <div>
    <img src="<%= image_path 'like-not-like.svg' %>" alt="Co-op">
    <p>
      Tell us what you want to start and where you want to start it
    </p>
  </div>
  <div>
    <img src="<%= image_path 'contact-info.svg' %>" alt="Co-op">
    <p>
      Give us your contact details
    </p>
  </div>
  <div>
    <img src="<%= image_path 'others.svg' %>" alt="Co-op">
    <p>
      We’ll connect you to other people, and start researching your idea
    </p>
  </div>
</section>

<section id="neighbourhood-map">

  <div class="neighbourhood-where">
    <%= form_tag get_started_path do %>
      <% if flash[:error] %>
        <p class="message message-error"><%= flash[:error] %></p>
      <% end %>
      <h2>
        Where do you want to make something happen?
      </h2>
      <p>
        What is your community or neighbourhood in Leeds? It doesn’t have to be where you live - it’s the place you have a connection to, that you care about and want good things for.
      </p>
      <%= text_field_tag :location %>
      <p class="helper-text">
        We’ll use this information to look for people nearby. We’ll always get your permission before sharing any contact details. We’ll also be in touch with you to find out more about how we can help.
      </p>
      <%= submit_tag "Get started", class: 'btn btn-primary'%>
    <% end %>
  </div>

</section>

<footer id="why-coop">
  <h2>Why Co-op?</h2>
  <p>
    Co-op has always stood for self-help and solidarity. It’s our job to find new ways to support people, so that they can build a better world - for themselves.
  </p>
</footer>
